.font30{
    font-size:30px;
}

.mrigh10{
    margin-right: 10px;
}

img, video {
    max-width: 266px;
    height: 200px;
    border-radius: 25px;
}

.black{
    color:black
}

.mtop50{
    margin-top:50px;
}

.backtoground{
    padding: 34px 37px;
    border-radius: 25px;
    border: 1px rgba(0,0,0,.2) solid;
    background-color: rgba(0,0,0,.2); 
}

@media only screen and (min-width: 1024px) and (max-width: 1249px) { 
    img, video {
        max-width: 191.9px;
    } 
}
@media only screen and (min-width: 1250px) and (max-width: 1279) { 
    img, video {
        max-width: 128px;
    } 
}


@media only screen and (min-width: 1280px) and (max-width: 1700px) { 
    img, video {
        max-width: 142px;
    } 
}


@media only screen and (min-width: 1500px) and (max-width: 1700px) { 
    img, video {
        max-width: 170px;
    } 
}

@media only screen and (min-width: 1701px) and (max-width: 2100px) { 
    img, video {
        max-width: 190px;
    } 
}

@media only screen  and (max-width: 500px) { 
    img, video {
        max-width: 200px;
    } 
}


@media only screen and (max-width: 1024px) { 
    .mobileact{
        padding:0px 0px !important;
    }
}