.fsize60{
    font-size: 60px;
}

.movetop100{
    margin-top:100px;
}

.pointer{
    cursor: pointer;
}


@media only screen and (max-width: 1600px) {
    .ls {
      display: none!important;
    }
  }